* {
  user-select: none;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  animation-timing-function: ease;
}
body {
  min-height: 100vh;
}

.cards {
  display: flex;
  flex-direction: row;
  gap: 2rem;
  flex-wrap: wrap;
  justify-content: center;
}

.card {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: white;
  background-color: rgb(80, 79, 79);
  border-radius: 20px;

  .card-link {
    color: #222020;
    position: absolute;
    bottom: 3.2rem;
    right: 2rem;
    padding: 0.5rem;
    border-radius: 10px;
    background-color: rgba(245, 245, 245, 0.411);
    backdrop-filter: blur(10px);
    transition: 0.6s;

    &:hover {
      filter: drop-shadow(0 0 2px #88ff64aa);
    }
  }
  .close {
    position: absolute;
    top: 5px;
    right: 10px;
    border-radius: 20px;
  }
  .favorite {
    position: absolute;
    margin: 0;
    top: 5px;
    left: 10px;
    border-radius: 20px;
    padding: 0.5rem;
    background-color: rgba(245, 245, 245, 0.411);
  }
  & img {
    object-fit: cover;
    border-radius: 20px;
    margin-bottom: 20px;
    margin-top: 20px;
  }

  .card-species {
    position: absolute;
    bottom: 0.5rem;
    right: 5rem;
  }
  .card-gender {
    position: absolute;
    bottom: 0.5rem;
    left: 5rem;
  }
}
